<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2>About Kill the Mutants</h2>
        <p>Kill the Mutants is a free educational tool to teach better testing. All of our work can be found on our public <a href="http://github.com/stanleyrya/kill-the-mutants">github</a>.
    </div>
</div>
