<div id="workspace">
  <div class="row">
    <div class="col-md-6">
      <h2>Write tests for this snippet of code:</h2>
        <div id="code-snippet">{{snippet}}</div>
    </div>
    <div class="col-md-6">
      <h2>Edit your tests here:</h2>
        <div id="editor">{{tests}}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div id="toolbar" class="col-md-4">
      <button id="btn-compile" type="button" class="btn btn-default">Compile</button>
      <button id="btn-run" type="button" class="btn btn-default">Run Tests</button>
      <button id="btn-kill-mutants" type="button" class="btn btn-default">Kill Mutants!</button>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>
