<div id="workspace" class="container">
  <h2>Write tests for this snippet of code:</h2>
  <div id="code-snippet">{{snippet}}</div>
  <h2>Edit your tests here:</h2>
  <div id="editor">{{tests}}</div>
</div>
