<div id="workspace">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-card mdl-shadow--2dp">
        <div id="code-snippet">{{snippet}}</div>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <div class="mdl-card mdl-shadow--2dp">
        <div id="editor">{{tests}}</div>
      </div>
    </div>
  </div>
</div>
