<!-- Intro Header -->
<div id="main-banner">
  <img src="images/KTM.png" alt="Kill the Mutants">
  <p class="intro-text">Learn to test the complete behavior of your software system.<br>Created by Ryan Stanley, Nathan Fuller, Ryan Connell, and Swana Weng.</p>
</div>
<img src="images/business_with_gun.png" style="margin-left:20px; left:-1em; bottom:5%; width:20em; height:20em;">
<img src="images/mutant1.png" style="margin-right:20px; right:-1em; bottom:5%; width:20em; height:20em; float:right">
