<!-- Intro Header -->
<div id="main-banner">
  <img src="images/KTM.png" alt="Kill the Mutants">
  <p class="intro-text">Learn to test the complete behavior of your software system.<br>Created by Ryan Stanley.</p>
</div>
<img src="images/business_with_gun.png" style="margin-left:20px; left:-1em; bottom:5%; width:20em; height:20em;">
<img src="images/mutant1.png" style="margin-right:20px; right:-1em; bottom:5%; width:20em; height:20em; float:right">
<!-- Contact Section -->
<!--section id="contact" class="content-section text-center">
<div class="contact-section">
<div class="container">
<div class="col-lg-8 col-lg-offset-2">
<h2>Contact the KTM Team</h2>
<p>YOU CAN'T YET</p>
<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
</div>
</div>
</div>
</section-->
