<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                   <pre style="line-height: 10px; background-color: transparent; border-width: 0px; color: white;">
    ██╗  ██╗██╗██╗     ██╗         ████████╗██╗  ██╗███████╗
    ██║ ██╔╝██║██║     ██║         ╚══██╔══╝██║  ██║██╔════╝
    █████╔╝ ██║██║     ██║            ██║   ███████║█████╗
    ██╔═██╗ ██║██║     ██║            ██║   ██╔══██║██╔══╝
    ██║  ██╗██║███████╗███████╗       ██║   ██║  ██║███████╗
    ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝       ╚═╝   ╚═╝  ╚═╝╚══════╝

    ███╗   ███╗██╗   ██╗████████╗ █████╗ ███╗   ██╗████████╗███████╗
    ████╗ ████║██║   ██║╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝██╔════╝
    ██╔████╔██║██║   ██║   ██║   ███████║██╔██╗ ██║   ██║   ███████╗
    ██║╚██╔╝██║██║   ██║   ██║   ██╔══██║██║╚██╗██║   ██║   ╚════██║
    ██║ ╚═╝ ██║╚██████╔╝   ██║   ██║  ██║██║ ╚████║   ██║   ███████║
    ╚═╝     ╚═╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
          </pre>
                    <p class="intro-text">Learn to test the complete behavior of your software system.<br>Created by Ryan Stanley.</p>
                </div>
            </div>
        </div>
    </div>
    <img src="images/buisness_with_gun.png" style="position:absolute; left:-1em; bottom:5%; width:20em; height:20em;">
    <img src="images/mutant1.png" style="position:absolute; right:-1em; bottom:5%; width:20em; height:20em;">
</header>

<!-- Contact Section -->
<!--section id="contact" class="content-section text-center">
    <div class="contact-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact the KTM Team</h2>
                <p>YOU CAN'T YET</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
            </div>
        </div>
    </div>
</section-->
