<!-- Intro Header -->
<div id="main-banner">
  <pre>
  ██╗  ██╗██╗██╗     ██╗         ████████╗██╗  ██╗███████╗
  ██║ ██╔╝██║██║     ██║         ╚══██╔══╝██║  ██║██╔════╝
█████╔╝ ██║██║     ██║            ██║   ███████║█████╗
██╔═██╗ ██║██║     ██║            ██║   ██╔══██║██╔══╝
  ██║  ██╗██║███████╗███████╗       ██║   ██║  ██║███████╗
  ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝       ╚═╝   ╚═╝  ╚═╝╚══════╝

███╗   ███╗██╗   ██╗████████╗ █████╗ ███╗   ██╗████████╗███████╗
████╗ ████║██║   ██║╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝██╔════╝
██╔████╔██║██║   ██║   ██║   ███████║██╔██╗ ██║   ██║   ███████╗
██║╚██╔╝██║██║   ██║   ██║   ██╔══██║██║╚██╗██║   ██║   ╚════██║
██║ ╚═╝ ██║╚██████╔╝   ██║   ██║  ██║██║ ╚████║   ██║   ███████║
╚═╝     ╚═╝ ╚═════╝    ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   ╚══════╝
  </pre>
  <p class="intro-text">Learn to test the complete behavior of your software system.<br>Created by Ryan Stanley.</p>
  <img src="images/business_with_gun.png" style="left:-1em; bottom:5%; width:20em; height:20em;">
  <img src="images/mutant1.png" style="right:-1em; bottom:5%; width:20em; height:20em;">
</div>
<!-- Contact Section -->
<!--section id="contact" class="content-section text-center">
<div class="contact-section">
<div class="container">
<div class="col-lg-8 col-lg-offset-2">
<h2>Contact the KTM Team</h2>
<p>YOU CAN'T YET</p>
<a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
</div>
</div>
</div>
</section-->
