<div id="login-signup" class="row row-eq-height">
  <div id="login" class="col-md-6">
    <h1>Login</h1>
    <a class="btn btn-lg btn-social btn-github" href="/oauth/login">
      <span class="fa fa-github"></span> Login with GitHub
    </a>
  </div>
  <div id="signup" class="col-md-6">
    <h1>Signup</h1>
    <form class="form-signup" action="/oauth/login" method="post">
      <input id="inputFirstName" type="text" name="firstname" class="form-control"
      placeholder="First Name" autofocus>
      <input id="inputLastName" type="text" name="lastname" class="form-control"
      placeholder="Last Name">
      <button class="btn btn-lg btn-primary btn-github" type="submit">
        <span class="fa fa-github"></span> Sign Up with GitHub
      </button>
    </form>
  </div>
</div>
