<form class="form-floating" action="/users/pre-survey" method="post">
  <div class="form-floating-heading">
    <h2>Kill The Mutants: Entry Survey</h2>
    <small>* indicates a required field</small>
  </div>
  {{> survey-questions/experience}}
  {{> survey-questions/learning-source}}
  {{> survey-questions/other-effectiveness}}
  {{> survey-questions/current-knowledge}}
  {{> survey-questions/expectations}}
  <div class="form-floating-submit">
    <button class="btn btn-lg btn-primary" type="submit">
      Complete Survey
    </button>
  </div>
</form>
