
<form class="form-floating" action="/users/complete-signup" method="post">
  <div class="form-floating-heading">
    <h2>Sign Up</h2>
    <small>* indicates a required field</small>
  </div>
  <fieldset class="form-group">
    <label for="inputFirstName">First Name *</label>
    <input type="text" class="form-control" name="firstname" id="inputFirstName" placeholder="First Name" autofocus required>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputLastName">Last Name</label>
    <input type="text" class="form-control" name="lastname" id="inputLastName" placeholder="Last Name">
  </fieldset>
  <fieldset class="form-group">
    <label for="inputGender">Gender</label>
    <select class="form-control" name="gender" id="inputGender">
      <option></option>
      <option>Male</option>
      <option>Female</option>
      <option>Other</option>
      <option>Prefer not to disclose</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="inputAge">Age *</label>
    <input type="number" class="form-control" id="inputAge" name="age" placeholder="in years" required>
  </fieldset>
  <div class="form-floating-submit">
    <button class="btn btn-lg btn-primary" type="submit">
      Complete Sign Up
    </button>
  </div>
</form>
