.mdl-layout__content {
  display: flex;
}

#workspace {
  display: flex;
  flex-grow: 1;
}

#workspace > .mdl-grid {
  display: flex;
  flex-grow: 1;
}

.mdl-card {
  width: 100%;
}

.mdl-navigation.toolbar {
  padding: 0 10px;
}
.toolbar .mdl-navigation__link{
  padding: 0 10px;
}

#toolbar {
  text-align: center;
}
#toolbar button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  background-color: #E65100;
  border-color: #E65100;
}
#toolbar button:hover {
  color: black;
}
#toolbar button:active {
  background-color: #D64100;
  border-color: #D64100;
}
#toolbar button:focus {
  outline:0;
}
.ace_search_form {
  color: black;
}
