html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 55px; /* use in order to pad main content below nav-bar */
    margin-bottom: 60px; /* use for footer */
    background-image: url("/images/intro-bg.jpg");
    background-color: #000030;
    color: #C5CAE9;
}
body a {
    text-decoration: none;
    color: #9FA8DA;
}
body a:hover {
  text-decoration: none;
  color: #C5CAE9;
}
.navbar {
  background-color: #000030;
}
.navbar a{
  color: #C5CAE9 !important;
}
.navbar a:hover {
  color: white !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid rgba(197, 202, 233, 0.5);
  color: rgba(197, 202, 233, 0.5);
  /* Set the fixed height of the footer here */
  height: 40px;
}
.footer .container {
    text-align: center;
}
