html {
    position: relative;
    min-height: 100%;
}
body {
  color: white;
}
a.mdl-layout-title {
  text-decoration:none;
  color: white;
}
a.mdl-navigation__link:hover {
  text-decoration: none;
  color: #FFAB40;
}
.mdl-layout__header .mdl-layout__drawer-button {
  background-color: transparent;
}
main {
  padding: 10px;

  background-image: url("/images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
