<fieldset class="form-group">
  <label>How do you feel about software testing? *</label>
  <div class="c-inputs-stacked">
    <label class="c-input c-radio">
      <input id="exp-level1" name="exp-level" type="radio" value="1" required>
      <span class="c-indicator"></span>
      I have no experience with software testing whatsoever/I am a beginner programmer.
    </label>
    <label class="c-input c-radio">
      <input id="exp-level2" name="exp-level" value="2" type="radio">
      <span class="c-indicator"></span>
      I’ve heard the term. I know a bit about software testing.
    </label>
    <label class="c-input c-radio">
      <input id="exp-level3" name="exp-level" value="3" type="radio">
      <span class="c-indicator"></span>
      I’ve written one or two software tests in my life.
    </label>
    <label class="c-input c-radio">
      <input id="exp-level4" name="exp-level" value="4" type="radio">
      <span class="c-indicator"></span>
      I have written multiple software tests. I am somewhat comfortable with software testing.
    </label>
    <label class="c-input c-radio">
      <input id="exp-level5" name="exp-level" value="5" type="radio">
      <span class="c-indicator"></span>
      I am really comfortable with software testing.
    </label>
  </div>
</fieldset>
