<fieldset class="form-group">
  <label>What was your favorite code snippet to write tests for? Why? *</label>
  <textarea class="form-control" id="other-textarea" rows="3" maxlength="280" required></textarea>
</fieldset>
