<!-- TODO implement with jQuery at least one checkbox required -->
<fieldset class="form-group">
  <label>How did you learn about software testing? *</label>
  <div class="c-inputs-stacked">
    <label class="c-input c-checkbox">
      <input id="classes" class="learning-source" name="learning-source" type="checkbox" value="1">
      <span class="c-indicator"></span>
      I currently have no software testing knowledge.
    </label>
    <label class="c-input c-checkbox">
      <input id="classes" class="learning-source" name="learning-source" type="checkbox" value="1">
      <span class="c-indicator"></span>
      Through my classes during school (high school/college).
    </label>
    <label class="c-input c-checkbox">
      <input id="tools" class="learning-source" name="learning-source" value="2" type="checkbox">
      <span class="c-indicator"></span>
      Through an online educational resource (Codecademy, Code School, etc).
    </label>
    <textarea class="form-control toggle" id="tools-textarea" rows="3" maxlength="100" placeholder="What online resource(s) did you use to learn about software testing?"></textarea>
    <label class="c-input c-checkbox">
      <input id="other" class="learning-source" name="learning-source" value="3" type="checkbox">
      <span class="c-indicator"></span>
      Other
    </label>
    <textarea class="form-control toggle" id="other-textarea" rows="3" maxlength="100" placeholder="Please list how you learned about software testing to the best of your knowledge."></textarea>
  </div>
</fieldset>
