<!-- TODO implement with jQuery at least one checkbox required -->
<fieldset class="form-group">
  <label>How did you learn about software testing? *</label>
  <div class="c-inputs-stacked">
    <label class="c-input c-checkbox">
      <input id="no-experience" class="learning-source" name="learning-source" type="checkbox" value="no-experience">
      <span class="c-indicator"></span>
      I currently have no software testing knowledge.
    </label>
    <label class="c-input c-checkbox">
      <input id="classes" class="learning-source" name="learning-source" type="checkbox" value="classes">
      <span class="c-indicator"></span>
      Through my classes during school (high school/college).
    </label>
    <label class="c-input c-checkbox">
      <input id="tools" class="learning-source" name="learning-source" type="checkbox" value="tools">
      <span class="c-indicator"></span>
      Through an online educational resource (Codecademy, Code School, etc).
    </label>
    <textarea id="tools-textarea" class="form-control toggle" name="learning-source-tools" rows="3" maxlength="100" placeholder="What online resource(s) did you use to learn about software testing?"></textarea>
    <label class="c-input c-checkbox">
      <input id="other" class="learning-source" name="learning-source" type="checkbox" value="other">
      <span class="c-indicator"></span>
      Other
    </label>
    <textarea id="other-textarea" class="form-control toggle" name="learning-source-other" rows="3" maxlength="100" placeholder="Please list how you learned about software testing to the best of your knowledge."></textarea>
  </div>
</fieldset>
