<fieldset class="form-group">
  <label>Would you consider using mutation testing in the future? *</label>
  <div class="c-inputs-stacked">
    <label class="c-input c-radio">
      <input id="mutation-future1" name="mutation-future" type="radio" value="no" required>
      <span class="c-indicator"></span>
      No.
    </label>
    <label class="c-input c-radio">
      <input id="mutation-future2" name="mutation-future" value="unsure" type="radio">
      <span class="c-indicator"></span>
      I'm unsure.
    </label>
    <label class="c-input c-radio">
      <input id="mutation-future3" name="mutation-future" value="yes" type="radio">
      <span class="c-indicator"></span>
      Yes.
    </label>
  </div>
</fieldset>
