<fieldset class="form-group">
  <label>Were the resources that taught you testing helpful in doing so? Why or why not? *</label>
  <textarea class="form-control" id="other-textarea" rows="3" maxlength="280" required></textarea>
</fieldset>
