<fieldset class="form-group">
  <label>Please provide any additional feedback you have for Kill The Mutants. (E.g., did you run into any bugs/difficulties? Do you have any general comments?)</label>
  <textarea class="form-control" id="other-textarea" rows="3" maxlength="280"></textarea>
</fieldset>
