<fieldset class="form-group">
  <label>After using our tool, how do you feel about testing? *</label>
  <div class="c-inputs-stacked">
    <label class="c-input c-radio">
      <input id="post-exp1" name="post-exp" type="radio" value="1" required>
      <span class="c-indicator"></span>
      Much worse.
    </label>
    <label class="c-input c-radio">
      <input id="post-exp2" name="post-exp" value="2" type="radio">
      <span class="c-indicator"></span>
      Worse.
    </label>
    <label class="c-input c-radio">
      <input id="post-exp3" name="post-exp" value="3" type="radio">
      <span class="c-indicator"></span>
      About the same.
    </label>
    <label class="c-input c-radio">
      <input id="post-exp4" name="post-exp" value="4" type="radio">
      <span class="c-indicator"></span>
      Better.
    </label>
    <label class="c-input c-radio">
      <input id="post-exp5" name="post-exp" value="5" type="radio">
      <span class="c-indicator"></span>
      Much better.
    </label>
  </div>
</fieldset>
