<fieldset class="form-group">
  <label>Did you learn anything while using Kill The Mutants? *</label>
  <div class="c-inputs-stacked">
    <label class="c-input c-radio">
      <input id="did-learn1" name="did-learn" type="radio" value="no" required>
      <span class="c-indicator"></span>
      No.
    </label>
    <label class="c-input c-radio">
      <input id="did-learn2" name="did-learn" value="unsure" type="radio">
      <span class="c-indicator"></span>
      I'm unsure.
    </label>
    <label class="c-input c-radio">
      <input id="did-learn3" name="did-learn" value="yes" type="radio">
      <span class="c-indicator"></span>
      Yes.
    </label>
  </div>
</fieldset>
