<fieldset class="form-group">
  <label>What exactly do you know about testing? Do you just know how to write a test that compiles? Do you know how to write a test suite? Etc. *</label>
  <textarea class="form-control" id="other-textarea" rows="3" maxlength="280" required></textarea>
</fieldset>
